extends ../layout

block content
  h2 My Files
  hr

  .row
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
    .col-xs-3
      .card
        .panel.panel-default(style='background-color: #fff')
          .panel-body
            img(src='http://i.imgur.com/UPTzIdC.png', height=30)
            |  File Upload
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
    .col-xs-3
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-open-o
            |  Folder
