.modal
  .modal-dialog
    .modal-content(style="padding: 20px")
      .body
        h3.title Add New Folder
        hr
        .form-group
          .input-group
            span.input-group-addon
              i.mdi.mdi-folder-plus
            .fg-line
              input.form-control(ng-model="$ctrl.folder", placeholder='Type a folder name...')
        .footer
          button.btn.btn-primary(ng-click="$ctrl.add(); $hide()", ng-disabled="!$ctrl.folder")
            | Add
          button.btn.btn-link(ng-click="$hide()")
            | Close