.modal
  .modal-dialog
    .modal-content(style="padding: 20px")
      .body
        h3.title Note
        hr
        .form-group
          .input-group
            span.input-group-addon
              i.mdi.mdi-folder-plus
            .fg-line
              input.form-control(ng-model="metadata.note", placeholder='Type your note')
        .footer
          button.btn.btn-primary(ng-click="$ctrl.saveNote(); $hide()")
            | Ok
          button.btn.btn-link(ng-click="$hide()")
            | Close