.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Delete file?
        |  {{file}}
      .modal-body
        span
          | This file will no longer exist after this action, are you sure ?
      .modal-footer
        button.btn.btn-link(type="button", ng-click="$hide()") Cancel
        button.btn.btn-danger(type="button", ng-click="$ctrl.delete(); $hide()") Delete
