div
  .col-xs-3
    a(ng-click="$ctrl.viewInside($ctrl.folder._id)")
      .card
        .panel.panel-default
          .panel-body(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis")
            i.fa.fa-folder-o
            |  {{$ctrl.folder.name}}
