.page-header(ng-controller="listFilesController as ctrl")
  h2
    i.fa.fa-book
    |  {{ ctrl.folder.name }}
    a.btn.btn-success(style="float: right", ng-click="ctrl.uploadFile()")
      i.fa.fa-upload
      | Upload File