h2 My Files
hr

.row(ng-controller="myFileController as ctrl")
  file-folder
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  Secret
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  Don't look
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  Son
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  Folder
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  Tung
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  File Upload
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  XXX
  .col-xs-3
    a(href="#")
      .card
        .panel.panel-default
          .panel-body
            i.fa.fa-folder-o
            |  Quyet


  button.btn.btn-floating.btn-mdb(ng-click="ctrl.addNewFolder()")
    i.mdi.mdi-plus
