doctype html
html(lang='en')
  head
    
    link(rel='stylesheet', href='/css/404.css')
    title 404-Not Found
  body
    .wrapper.row2
      #container.clear
        // #######################################################################################################
        // #######################################################################################################
        // #######################################################################################################
        // #######################################################################################################
        section#fof.clear
          // #######################################################################################################
          .hgroup
            h1
              span
                strong 4
              span
                strong 0
              span
                strong 4
            h2
              | Error ! 
              span Page Not Found
          p For Some Reason The Page You Requested Could Not Be Found On Our Server
          p
            a(href='javascript:history.go(-1)') « Go Back
            |  / 
            a(href='/home') Go Home »
          // #######################################################################################################
        // #######################################################################################################
        // #######################################################################################################
        // #######################################################################################################
        // #######################################################################################################
