extends layout

block content
  .ui-view(name="root", noanimation)
  .page-header
    h3 About Team

  h1 Supper handsome VietPham
  h2 Supper stupid QuyetHaMinh
  h3 Supper tu` SonNguyen
  h4 Supper cave TungVu
