extends layout

block content
  ui-view(name="root")
  h1 Course Categories
  hr
  .row
    .col-sm-6
      h2 Distributed System
      p Distributed Computing is a field of computer science that studies distributed systems
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Cloud Service Business
      p Cloud computing is a type of Internet-based computing that provides shared computer processing resources and data to computers and other devices on demand
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Structured Programming
      p  Structured programming is a programming paradigm aimed at improving the clarity, quality, and development time of a computer program by making extensive use of subroutines, block structures, for and while loops
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Human–Computer Interaction
      p Human-computer interaction (commonly referred to as HCI) researches the design and use of computer technology, focused on the interfaces between people (users) and computers
      p
        a.btn.btn-default(href='#', role='button') View details »
