doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#0064be')
    //meta(name='csrf-token', content=_csrf)
    base(href="/")
    title #{title} - Files Sharing System
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/main.css')
    link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.min.css')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/ng-file-upload/ng-file-upload-shim.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-component/dist/angular-component.min.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/components/ng-file-upload/ng-file-upload.min.js')
    script(src='/components/ng-file-upload/ng-file-upload-all.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src="js/modules/http.js")
    script(src="js/modules/session.js")
    script(src="js/modules/file.js")
    script(src="index.js")
    script(src="js/controllers.js")
    script(src="js/components.js")
    script(src="js/services.js")
    script(src="js/directives.js")

  body.ng-cloak(ng-app="dsp")
    include partials/header

    .container
      include partials/flash
      div(ui-view="root")

    include partials/item-context-menu
    include partials/footer
