.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref="home")
        i.fa.fa-github-alt
        | Files Sharing
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(ui-sref="home") Home
        if user
          li(class=(title == 'My Files') ? 'active' : undefined)
            a(ui-sref="my-files") My Files
          li(class=(title == 'Shared with me') ? 'active' : undefined)
            a(ui-sref="shared-with-me") Shared with me
        li(class=(title == 'About') ? 'active' : undefined)
          a(ui-sref="about") About
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(ui-sref='login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(ui-sref='signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu(ng-controller="headerCtrl")
              li
                a(ui-sref='profile') My Account
              li.divider
              li
                a(href='/logout', ng-click="reload()") Logout
